pkgbase = hubble.md-bin
	pkgdesc = Local-first Markdown editor (Hubble desktop app) — prebuilt binary
	pkgver = 0.1.25
	pkgrel = 1
	url = https://hubble.md
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: system tray icon support
	provides = hubble.md=0.1.25
	provides = hubble-md=0.1.25
	conflicts = hubble.md
	conflicts = hubble-md
	options = !strip
	options = !debug
	source = hubble.md-0.1.25-LICENSE::https://raw.githubusercontent.com/bholmesdev/hubble.md/desktop-v0.1.25/LICENSE
	sha256sums = 86ee45fc09f4b8b03eb68e2ba5fbb3eca0ace3e5ece46f805d8c6103266230b4
	source_x86_64 = hubble.md-0.1.25-x86_64.deb::https://github.com/bholmesdev/hubble.md/releases/download/desktop-v0.1.25/hubble_0.1.25_amd64.deb
	sha256sums_x86_64 = 0af2c00f1d1a4cae0d1dfd96b6aecf3d0c08b589aace7aedb6d685d80a049112
	source_aarch64 = hubble.md-0.1.25-aarch64.deb::https://github.com/bholmesdev/hubble.md/releases/download/desktop-v0.1.25/hubble_0.1.25_arm64.deb
	sha256sums_aarch64 = 6db4c0d3ed71964b014edaefcda7231a31558ec962d0d612b52847c0a29cc46f

pkgname = hubble.md-bin
