pkgbase = hubble.md-bin
	pkgdesc = Local-first Markdown editor (Hubble desktop app) — prebuilt binary
	pkgver = 0.1.24
	pkgrel = 1
	url = https://hubble.md
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	optdepends = libappindicator-gtk3: system tray icon support
	provides = hubble.md=0.1.24
	provides = hubble-md=0.1.24
	conflicts = hubble.md
	conflicts = hubble-md
	options = !strip
	options = !debug
	source = hubble.md-0.1.24-LICENSE::https://raw.githubusercontent.com/bholmesdev/hubble.md/desktop-v0.1.24/LICENSE
	sha256sums = 86ee45fc09f4b8b03eb68e2ba5fbb3eca0ace3e5ece46f805d8c6103266230b4
	source_x86_64 = hubble.md-0.1.24-x86_64.deb::https://github.com/bholmesdev/hubble.md/releases/download/desktop-v0.1.24/hubble_0.1.24_amd64.deb
	sha256sums_x86_64 = 03850eeaf70098cf326c4a0d405864d565ffc6eb0d0d0ca3666b2b0a9ab4bb1e
	source_aarch64 = hubble.md-0.1.24-aarch64.deb::https://github.com/bholmesdev/hubble.md/releases/download/desktop-v0.1.24/hubble_0.1.24_arm64.deb
	sha256sums_aarch64 = 41f1ab0bd6ba621b126fa8d4edeb46c11328c02b037ca7563a925c8f14b5f58d

pkgname = hubble.md-bin
